body{
    background-color: #083b4c !important;  
    color: black !important;
}

.title{
    color:white;
    font-size: 100px;
    text-align: center;
    margin:50px;

}

.color-card-1 {
    background-color: #1389b2;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.color-card-2 {
    background-color: #0bd6a1;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.color-card-3 {
    background-color:#ffd166;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    
}
.color-card-4 {
    background-color: #f0466f;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}